nav {
  letter-spacing: .1em;
  color: #336666; /*dark-green*/
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}

nav ul li:nth-child(3) {
  background-color: #e7edee;
  border-radius: 4em;
}

table {
  font-size: .8em;
}

caption {
  font-size: 1.2em;
  color: #617278;
  letter-spacing: .2em;
  text-transform: uppercase;
}

th {
  color: #336666;
  background-color: #f1f1f1;
}

td {
  color: #666666;
  border-top: 3px solid white;
  background-color: #f8f8f8;
}

footer {
  background-color: #617278;
}

@media (max-width: 1132px) {
  body {
    font-size: .8em;
  }
}
@media (max-width: 900px) {
  body {
    font-size: .5em;
  }
}

@media (max-width: 600px) {
  body {
    font-size: .3em;
  }
}


