/*header modules*/

.logo {
  overflow: hidden;
  transition: all 1s ease;
}

/*banner modules*/

.banner-text {
  letter-spacing: .2em;
  line-height: 3em;
  color: rgba(255, 255, 255, .8);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.banner-text h2 {
  font-size: .8em;
  text-transform: uppercase;
}

.banner-text h1 {
  font-size: 1.5em;
  font-family:'Mate', serif;
}

.banner-text button {
  font-size: .8em;
  text-transform: uppercase;
  background-color: rgba(94, 111, 114, 0.8);
  border-radius: 4em;
}

/*text section modules*/

.text-section {
  color: #5e6f72;
  background-color: #f4f9fa;
}

.text-div {
  font-size: 1em;
  line-height: 2em;
}

.text-div p {
  font-family:'Mate', serif;
}

.text-div h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

/*table section modules*/

.status-section {
  font-family:'Lato', sans-serif;
}

.dark-green {
  background-color: #556e75;
}

.light-green {
  background-color: #a0bfc5;
}

.span-30 {
  width: 5em;
}

.span-40 {
  width: 6em;
}

.span-50 {
  width: 7em;
}

.span-60 {
  width: 8em;
}

.span-70 {
  width: 9em;
}

/*destinations section */

.dest-section {
  background-color: #f8f8f8;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.dest-section h1 {
  font-size: 1em;
  color: #617278;
  letter-spacing: .2em;
}

.dest-item {
  overflow: hidden;
  transition: all 1s ease;
}

.dest-item p {
  color: rgba(255, 255, 255, .9);
}

@media (max-width: 736px) {

  .banner-text {
    letter-spacing: .1em;
    line-height: 2.2em;
  }

  .span-30 {
    width: 3em;
  }

  .span-40 {
    width:4em;
  }

  .span-50 {
    width: 5em;
  }

  .span-60 {
    width: 6em;
  }

  .span-70 {
    width: 7em;
  }
}
















